<head><link rel="stylesheet" href="/CSS/menu.css"></head>
<header>
        <div class="cabecalho">
        <div class="menu">
        <div class="logo">
        <a href="/"><img src="/IMG/Moreia_LOGO.png" alt="Logo Moréia"></a>
        </div>
       <div class="titulo">
        <h1>MORÉIA TATTOO</h1>
        <h2>Tatuagens Geek / Tatuagens Autorais / Ilustrações Digitais   / & Bodypiercing</h2>
        </div>
        <div class="redes">
            <a href="https://www.instagram.com/rphl.ink/"><img src="/IMG/instagram.png" alt="Instagram"></a>
            <a href=" https://wa.me/5571996405687"><img src="/IMG/whatsapp.png" alt="Whatsapp"></a>
        </div>
        </div>
        </div>
    <section id="linha"></section>
    <div class="nav">
        <nav>
        <ul>
            <li><button class="btn btn0" onclick="inicio()">Início</button></li>
            <li><button class="btn btn1" onclick="sobreNos()">Sobre nós</button></li>
            <li><button class="btn btn2" onclick="galeria()">Galeria</button></li>
        </ul>
    </nav>
    </div>
    <section id="linha2"></section>
    </header>