<head><link rel="stylesheet" href="/CSS/inicio.css"></head>
<body>
    <h1>Que pena, seu login falhou :( </h1>
    <h2>Desta vez tente digitar o usuário = "user" e a senha = "1234"</h2>
    <form class="logado" action="/login" method="get">
        <button type="submit" class="btn btn5">Tentar novamente</button>
    </form>
</body>