<head><link rel="stylesheet" href="/CSS/galeria.css"></head>
<body>
    <div class="galeria">
        <h1>GALERIA</h1>
        <div class="imagens">
            <div class="line">
                <section id="fotos_tatto">
                    <img src="" alt="">
                </section>
            </div>
        </div>
    </div>
</body>