<head><link rel="stylesheet" href="/CSS/inicio.css"></head>
<body>
    <h1>Parabéns! seu login foi efetuado com sucesso!</h1>
    <form class="logado" action="/" method="get" onsubmit="inicio()">
        <button class="btn btn5">Ir para á página inicial</button>
    </form>
</body>