<head><link rel="stylesheet" href="/CSS/login.css"></head>
<body>
     <div class="formLogin">
        <div class="login">
            <div class="bloco">
                <div class="cabecalhoLog">
                    <div class="moreia">
                    <img src="/IMG/Moreia_LOGO.png" alt="logo">
                </div>
                <div class="tituloLog">
                    <h1>Efetue seu login</h1>
                    <h2>Preencha seus dados para realizar o login</h2>
                </div>
                <div class="moreia">
                    <img src="/IMG/Moreia_LOGO.png" alt="logo">
                </div>
                </div>
            <form class="loginForm" action="/" method="post" onsubmit="return fazerLogin()">
            <fieldset>
                <label for="userLog">Nome de usuário: </label>
                <input type="text" name="userLog" id="userLog" placeholder="Digite seu usuário">
                <label for="senha">Senha: </label>
                <input type="password" name="senhaLog" id="senhaLog" placeholder="Digite sua senha">
                <div class="logar">
                    <button type="submit" class="btn btn5">Entrar</button>
                </div>
                <input type="button" value="Não possui conta? Crie agora!" class="cadastroIr" onclick="cadastro()">
            </fieldset>
        </div>
        </form>
    </div>
 </div>
</body>