<head><link rel="stylesheet" href="/CSS/sobreNos.css"></head>
<body>
    <div class="texto">
    <h1>SOBRE NÓS</h1>
        <h2>
            Entregando tatuagens, ilustrações e piercings com muito profissionalismo, qualidade no serviço e comprometimento com as regras
        de Biossegurança, o nosso estúdio é responsável pela satisfação de diversos clientes, utilizando dos nossos procedimentos
        como uma forma de elevar a autoestima dos nossos clientes, resignificar a arte corporal e eternizar na pele momentos e lembranças marcantes
        para os nossos clientes.<br>
            O Moréia Tattoo Studio é um estúdio de tatuagem localizado na cidade de <br>Madre de Deus - BA, que fica localizada na região
        metropolitana de salvador, o proprietário e profissional responsável é Raphael Maurício, o nome "Moréia Tattoo" foi escolhido
        como uma homenagem ao falecido Carlos Maurício Santos, também conhecido como "Mamau" ou "Moréia" como uma forma de manter seu
        legado em atividade.
    </h2>
    </div>
    <div class="profissional">
        <h1>Profissional responsável</h1>
        <img src="/IMG/Raphael.jpg" alt="Raphael Maurício">
        <h3>Raphael Maurício</h3>
        <p> Nascido em 2001, o tatuador, ilustrador, bodypiercer, estudante de Artes Visuais pela Universidade Federal da Bahia e Técnico em Desenvolvimento de Sistemas pelo SENAI
        Raphael é o nosso profissional responsável e proprietário do estúdio, especializado em tatuagens autorais, geeks, aquarelas e sketchs tattos, com certificações da área de tatuagem, piercing e Biossegurança.
        Ele é o responsável pela felicidade de diversos clientes ao redor do mundo, ele acredita que a tatuagem, a arte corporal e a pintura são as melhores formas de mostrar quem realmente somos
        através das marcas que escolhemos conosco pelo resto de nossas vidas.</p>
    </div>
    <div class="studio">
        <h1>Estúdio</h1>
        <img src="/IMG/Studio.jpg" alt="Raphael Maurício">
        <h3>Moréia Tattoo Studio</h3>
        <div class="info">
        <p> Localização: Rua Pintassilgo n°48, Centro, Madre de Deus - BA</p>
        <p> Atendimento somente com horário marcado!</p>
        <p> Dúvidas e orçamentos através das redes sociais abaixo:</p>
        </div>
        <div class="redes2">
            <a href="https://www.instagram.com/rphl.ink/"><img src="/IMG/instagram.png" alt="Instagram"></a>
            <a href=" https://wa.me/5571996405687"><img src="/IMG/whatsapp.png" alt="Whatsapp"></a>
        </div>
    </div>
</body>