*{
    padding: 0;
    scroll-behavior: smooth;
}
body{
    /* height: 4000px; */
    margin-top: 200px;
    background-image: url(/IMG/Background.png);
    background-color: black;
    color: white;
    justify-content: center;
    font-family: 'RobotoLight';
    text-align: center;
}
img{
    width: auto;
    height: 100%;
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../Fonts/RobotoCondensed-Light.ttf') format('truetype');
  }
  .cadastro{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .cadastroForm{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: calc(15pt + 0.3vw);
  }
 .cabecalhoCad{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .moreia{
    width: 20%;
 }
 .cabecalhoCad img{
    width: 100%;
 }
  .bloco{
    /* display: flex; */
    width: 40%;
    background-color: black;
    border-radius: 20px;
  }
  fieldset{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-bottom: 40px;
    border: 0;
  }
  .cadastro input{
    text-align: center;
    margin-bottom: 20px;
    font-size: calc(10pt + 0.5vw);
    border-radius: 8px;
  }
  .cadastrar .btn{
    margin: 10px;
  }
  .loginIr{
    background: none;
    color: white;
    font-size: calc(10pt + 0.5vw);
    align-self: center;
    width: 50%;
}
  .loginIr:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: calc(10pt + 0.5vw);
    align-self: center;
    width: 50%;
}